USE [master]
GO
/****** Object:  Database [HANDY]    Script Date: 16/7/2021 18:21:49 ******/
CREATE DATABASE [HANDY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HANDY_dat', FILENAME = N'C:\Program Files\Microsoft SQL server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HANDY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HANDY_log', FILENAME = N'C:\Program Files\Microsoft SQL server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HANDY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HANDY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HANDY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIASXEMPLEADOS]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIASXEMPLEADOS](
	[DNIUSER_CXE] [varchar](10) NOT NULL,
	[IDCATEGORIA_CXE] [int] NOT NULL,
 CONSTRAINT [PK_CXE] PRIMARY KEY CLUSTERED 
(
	[DNIUSER_CXE] ASC,
	[IDCATEGORIA_CXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_TRABAJOS]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_TRABAJOS](
	[IDTRABAJO_DT] [int] NOT NULL,
	[DNIUSER_DT] [varchar](10) NOT NULL,
	[IDCATEGORIA_DT] [int] NULL,
	[PUNTAJE_DT] [decimal](18, 2) NULL,
	[SELECCIONADO_DT] [bit] NULL,
	[CALIFICACIONUSER_DT] [decimal](6, 2) NULL,
	[IMPORTEFINAL_DT] [decimal](18, 2) NULL,
	[HSFINAL_DT] [time](0) NULL,
	[ESTADO_DT] [bit] NULL,
 CONSTRAINT [PK_DT] PRIMARY KEY CLUSTERED 
(
	[IDTRABAJO_DT] ASC,
	[DNIUSER_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOR]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOR](
	[DNI_CUIT_EMPLEADOR] [varchar](20) NOT NULL,
	[NOMBRE_EMPLEADOR] [varchar](30) NOT NULL,
	[APELLIDO_EMPLEADOR] [varchar](30) NOT NULL,
	[TIPO_EMPLEADOR] [int] NOT NULL,
	[ANTIGUEDAD_EMPLEADOR] [smalldatetime] NULL,
	[CALIFICACION_EMPLEADOR] [decimal](6, 2) NULL,
	[SOLUCIONADO_EMPLEADOR] [int] NULL,
	[TELEFONO_EMPLEADOR] [varchar](15) NOT NULL,
	[ESTADO_EMPLEADOR] [bit] NULL,
 CONSTRAINT [PK_EMPLEADOR] PRIMARY KEY CLUSTERED 
(
	[DNI_CUIT_EMPLEADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID_LOC] [int] IDENTITY(1,1) NOT NULL,
	[IDPROVINCIA_LOC] [int] NOT NULL,
	[NOMBRE_LOC] [varchar](30) NOT NULL,
	[ESTADO_LOC] [bit] NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_LOC] ASC,
	[IDPROVINCIA_LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE_LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROV] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PROV] [varchar](30) NOT NULL,
	[ESTADO_PROV] [bit] NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJOS]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJOS](
	[ID_T] [int] IDENTITY(1,1) NOT NULL,
	[CUIT_EMPLEADOR_T] [varchar](20) NOT NULL,
	[IDLOCALIDAD_T] [int] NOT NULL,
	[IDCATEGORIA_T] [int] NOT NULL,
	[IDPROVINCIA_T] [int] NOT NULL,
	[IMPORTE_T] [decimal](18, 2) NOT NULL,
	[CANTIDAD_HS_T] [time](0) NULL,
	[DESCRIPCION_T] [varchar](50) NOT NULL,
	[CALIFICACIONEMPLEADOR_T] [decimal](6, 2) NULL,
	[ESTADO_T] [bit] NULL,
 CONSTRAINT [PK_TRABAJOS] PRIMARY KEY CLUSTERED 
(
	[ID_T] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[DNI_USER] [varchar](10) NOT NULL,
	[NOMBRE_USER] [varchar](30) NOT NULL,
	[APELLIDO_USER] [varchar](30) NOT NULL,
	[EDAD_USER] [int] NOT NULL,
	[DESCRIPCION_USER] [varchar](1) NULL,
	[PUNTOS_USER] [decimal](18, 2) NULL,
	[CALIFICACION_USER] [decimal](6, 2) NULL,
	[CV_USER] [varchar](50) NULL,
	[SOLUCIONADO_USER] [int] NULL,
	[TELEFONO_USER] [varchar](15) NOT NULL,
	[ANTIGUEDAD_USER] [smalldatetime] NULL,
	[ESTADO_USER] [bit] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[DNI_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ((100)) FOR [PUNTAJE_DT]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ((0)) FOR [SELECCIONADO_DT]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ((0)) FOR [CALIFICACIONUSER_DT]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ((0)) FOR [IMPORTEFINAL_DT]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ('00:00:00') FOR [HSFINAL_DT]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] ADD  DEFAULT ((0)) FOR [ESTADO_DT]
GO
ALTER TABLE [dbo].[EMPLEADOR] ADD  DEFAULT (getdate()) FOR [ANTIGUEDAD_EMPLEADOR]
GO
ALTER TABLE [dbo].[EMPLEADOR] ADD  DEFAULT ((0)) FOR [CALIFICACION_EMPLEADOR]
GO
ALTER TABLE [dbo].[EMPLEADOR] ADD  DEFAULT ((0)) FOR [SOLUCIONADO_EMPLEADOR]
GO
ALTER TABLE [dbo].[EMPLEADOR] ADD  DEFAULT ((1)) FOR [ESTADO_EMPLEADOR]
GO
ALTER TABLE [dbo].[LOCALIDADES] ADD  DEFAULT ((1)) FOR [ESTADO_LOC]
GO
ALTER TABLE [dbo].[PROVINCIAS] ADD  DEFAULT ((1)) FOR [ESTADO_PROV]
GO
ALTER TABLE [dbo].[TRABAJOS] ADD  DEFAULT ((0)) FOR [CALIFICACIONEMPLEADOR_T]
GO
ALTER TABLE [dbo].[TRABAJOS] ADD  DEFAULT ((0)) FOR [ESTADO_T]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [PUNTOS_USER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [CALIFICACION_USER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('URL') FOR [CV_USER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [SOLUCIONADO_USER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [ANTIGUEDAD_USER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [ESTADO_USER]
GO
ALTER TABLE [dbo].[CATEGORIASXEMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_CXE_CATEGORIAS] FOREIGN KEY([IDCATEGORIA_CXE])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[CATEGORIASXEMPLEADOS] CHECK CONSTRAINT [FK_CXE_CATEGORIAS]
GO
ALTER TABLE [dbo].[CATEGORIASXEMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_CXE_USUARIO] FOREIGN KEY([DNIUSER_CXE])
REFERENCES [dbo].[USUARIO] ([DNI_USER])
GO
ALTER TABLE [dbo].[CATEGORIASXEMPLEADOS] CHECK CONSTRAINT [FK_CXE_USUARIO]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS]  WITH CHECK ADD  CONSTRAINT [FK_DT_CATEGORIASXEMPLEADOS] FOREIGN KEY([DNIUSER_DT], [IDCATEGORIA_DT])
REFERENCES [dbo].[CATEGORIASXEMPLEADOS] ([DNIUSER_CXE], [IDCATEGORIA_CXE])
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] CHECK CONSTRAINT [FK_DT_CATEGORIASXEMPLEADOS]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS]  WITH CHECK ADD  CONSTRAINT [FK_DT_TRABAJOS] FOREIGN KEY([IDTRABAJO_DT])
REFERENCES [dbo].[TRABAJOS] ([ID_T])
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS] CHECK CONSTRAINT [FK_DT_TRABAJOS]
GO
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDADES_PROVINCIAS] FOREIGN KEY([IDPROVINCIA_LOC])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROV])
GO
ALTER TABLE [dbo].[LOCALIDADES] CHECK CONSTRAINT [FK_LOCALIDADES_PROVINCIAS]
GO
ALTER TABLE [dbo].[TRABAJOS]  WITH CHECK ADD  CONSTRAINT [FK_TRABAJOS_CATEGORIAS] FOREIGN KEY([IDCATEGORIA_T])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[TRABAJOS] CHECK CONSTRAINT [FK_TRABAJOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[TRABAJOS]  WITH CHECK ADD  CONSTRAINT [FK_TRABAJOS_EMPLEADOR] FOREIGN KEY([CUIT_EMPLEADOR_T])
REFERENCES [dbo].[EMPLEADOR] ([DNI_CUIT_EMPLEADOR])
GO
ALTER TABLE [dbo].[TRABAJOS] CHECK CONSTRAINT [FK_TRABAJOS_EMPLEADOR]
GO
ALTER TABLE [dbo].[TRABAJOS]  WITH CHECK ADD  CONSTRAINT [FK_TRABAJOS_LOCALIDADES] FOREIGN KEY([IDLOCALIDAD_T], [IDPROVINCIA_T])
REFERENCES [dbo].[LOCALIDADES] ([ID_LOC], [IDPROVINCIA_LOC])
GO
ALTER TABLE [dbo].[TRABAJOS] CHECK CONSTRAINT [FK_TRABAJOS_LOCALIDADES]
GO
ALTER TABLE [dbo].[DETALLE_TRABAJOS]  WITH CHECK ADD CHECK  (([CALIFICACIONUSER_DT]>=(0) AND [CALIFICACIONUSER_DT]<=(5)))
GO
ALTER TABLE [dbo].[EMPLEADOR]  WITH CHECK ADD CHECK  (([CALIFICACION_EMPLEADOR]>=(0) AND [CALIFICACION_EMPLEADOR]<=(5)))
GO
ALTER TABLE [dbo].[TRABAJOS]  WITH CHECK ADD CHECK  (([CALIFICACIONEMPLEADOR_T]>=(0) AND [CALIFICACIONEMPLEADOR_T]<=(5)))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  (([CALIFICACION_USER]>=(0) AND [CALIFICACION_USER]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZARUSUARIO]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC SP_FinalizarDetalleTrabajo 1, 3.5, 4.0, 5000, '03:00:00'

CREATE PROCEDURE [dbo].[SP_ACTUALIZARUSUARIO] 
@DNI VARCHAR (10),
@IDTRABAJO INT
AS
		
			UPDATE USUARIO
				SET CALIFICACION_USER = CALIFICACION_USER + CAST((SELECT CALIFICACIONUSER_DT FROM DETALLE_TRABAJOS WHERE IDTRABAJO_DT = @IDTRABAJO AND DNIUSER_DT = @DNI)AS decimal (6,2)),
					SOLUCIONADO_USER += 1
			WHERE DNI_USER = @DNI 
				
		
		
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarCategoria]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------- CATEGORIAS ----------------------------------

CREATE PROCEDURE [dbo].[SP_AgregarCategoria]
@NOMBRE VARCHAR (30)

AS 

INSERT INTO CATEGORIAS
(NOMBRE_CATEGORIA)
SELECT @NOMBRE

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarEmpleador]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------ EMPLEADOR -------------------------------

CREATE PROCEDURE [dbo].[SP_AgregarEmpleador]

@dni_cuit varchar (20),
@nombre varchar (30),
@apellido varchar (30),
@tipo int,
@tel varchar (15)

AS

INSERT INTO EMPLEADOR (DNI_CUIT_EMPLEADOR, NOMBRE_EMPLEADOR, APELLIDO_EMPLEADOR, TIPO_EMPLEADOR, TELEFONO_EMPLEADOR)

SELECT @dni_cuit, @nombre, @apellido, @tipo, @tel

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarLocalidad]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------- LOCALIDADES ----------------------------------

CREATE PROCEDURE [dbo].[SP_AgregarLocalidad]
@id INT,
@NOMBRE VARCHAR (30)

AS 

INSERT INTO LOCALIDADES
(IDPROVINCIA_LOC, NOMBRE_LOC)
SELECT @id, @NOMBRE

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarProvincia]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------- PROVINCIAS ---------------------------------------

CREATE PROCEDURE [dbo].[SP_AgregarProvincia]
@NOMBRE VARCHAR (30)

AS 

INSERT INTO PROVINCIAS (NOMBRE_PROV)
SELECT @NOMBRE

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarEmpleador]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_EliminarEmpleador]

@dni varchar (20)

AS

UPDATE EMPLEADOR SET ESTADO_EMPLEADOR = 0 WHERE DNI_CUIT_EMPLEADOR = @DNI

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarLocalidad]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_EliminarLocalidad]
@id INT

AS 

    UPDATE LOCALIDADES
		SET ESTADO_LOC = 0
	WHERE ID_LOC = @id

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProvincia]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_EliminarProvincia]
@id INT

AS 

    UPDATE PROVINCIAS
		SET ESTADO_PROV = 0
	WHERE ID_PROV = @id

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarUsuario]

@dni varchar (10)

AS

UPDATE USUARIOS SET ESTADO_USER = 0 WHERE DNI_USER = @DNI

GO
/****** Object:  StoredProcedure [dbo].[SP_FinalizarDetalleTrabajo]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC SP_FinalizarTrabajo 1


CREATE PROCEDURE [dbo].[SP_FinalizarDetalleTrabajo]               -- ACTUALIZA LA TABLA DETALLE_TRABAJOS SI EL TRABAJO ESTA TERMINADO
@id int, 
@califUser decimal (6,2),
@califEmpl decimal (6,2),
@imp	   decimal (18,2),
@hs        time (0)
AS
	IF (SELECT DISTINCT ESTADO_DT 
		FROM DETALLE_TRABAJOS 
		WHERE IDTRABAJO_DT = @id) = 1
			BEGIN 
			UPDATE DETALLE_TRABAJOS 
				SET CALIFICACIONUSER_DT = @califUser,
					IMPORTEFINAl_DT = @imp,
					HSFINAL_DT = @hs
			WHERE IDTRABAJO_DT = @id AND SELECCIONADO_DT = 1
			
			UPDATE TRABAJOS 
				SET CALIFICACIONEMPLEADOR_T = @califEmpl
			WHERE ID_T = @id
			
			END
	ELSE SELECT 'TRABAJO EN CURSO' AS ALERTA

GO
/****** Object:  StoredProcedure [dbo].[SP_FinalizarTrabajo]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC SP_SeleccionarUser '44997331', 1

CREATE PROCEDURE [dbo].[SP_FinalizarTrabajo]                    -- ESTABLECE EL VALOR DEL CAMPO "ESTADO" EN 1 (TRABAJO FINALIZADO): TABLA TRABAJOS
@id int

AS
	if (Select estado_t from trabajos where id_t = @id) = 0
		begin
			UPDATE TRABAJOS
				SET ESTADO_T = 1
			WHERE ID_T = @id
		end
	else select 'Trabajo Terminado' as ALERTA
GO
/****** Object:  StoredProcedure [dbo].[SP_SeleccionarUser]    Script Date: 16/7/2021 18:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------------------------------- TRABAJO  ----------------------------------

CREATE PROCEDURE [dbo].[SP_SeleccionarUser]                      -- ESTABLECE EL VALOR DEL CAMPO SELECCIONADO_DT EN 1 (TRUE): TABLA DETALLE_TRABAJOS
@DNI varchar (10),
@IDTRABAJO INT
AS

	UPDATE DETALLE_TRABAJOS
		SET SELECCIONADO_DT = 1
	WHERE DNIUSER_DT = @DNI AND IDTRABAJO_DT = @IDTRABAJO

GO
USE [master]
GO
